/*============================================================
	For Small Desktop
==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {

.diseñoweb{
    background-size: cover;
}
  .cuadroflotante{
    /* margin-left: 470px;
    margin-right: 10px; */
  /* background-color: black; */
  /* revisar */
  }
  .works{
          height: 1200px;
            /* margin-bottom: 20px; */
  }

/* slider */
.carousel-caption h3 {
  font-size: 45px;
}
.features {
  height: auto;
}

.diseñoweb{
    height: auto;
}
/* works */

/* .quiensoy{
  width:50%;
  float: left;
} */
/* team */

.member-thumb {
  width: auto;
}

}


/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {

  .carousel-caption .carousel-box1{
  padding-left:0;
    /* background-color: black; */
  }
  .carousel-caption .carousel-box2{
    padding-right: 0;
  }
  .cuadroflotante{
    margin-left: 0;
    margin-right: 0;
  }

/* slider */

.carousel-caption h2 {
  font-size: 55px;
}

.carousel-caption h3 {
  font-size: 36px;
}

/* services */

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 325px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

/* works */
.works{
        height: 1600px;
          /* margin-bottom: 20px; */
}
.works.container{
  height:auto;
          /* padding-bottom: 20px; */
}

.work-item {
  width: 50%;
}
.diseñoweb{
    height: auto;
}

.features {
  height: auto;
}
.cuadroflotante{

}

.cuadroflotante .recuadroblanco{
  padding: 20px;
  background-color: rgba(213, 239, 251, 0.9);
  clip-path: inset(0 round 30px 0 30px 0);
    /* border: solid 2px #fff; */

}
/* .quiensoy{
  width:48%;
height:240px;
  float: left;

}
.quiensoy h4{
  font-size: 12px;
} */

/* team */
.contact-address {
  /* margin-bottom: 30px; */
    text-align: center;
}
.member-thumb .overlay h5 {
  margin: 25px 0;
}

.member-thumb {
  margin: 0 auto;
}

/* fatcs */

#facts {
background-position: center top !important;
}
.counters-item {
  margin-bottom: 30px;
}

.counters-item i {
  margin: 0 0 15px;
}

.counters-item strong {
  font-size: 45px;
}

/* contact */

.contact-form .name-email input {
  margin-right: 0;
  width: 100%;
}

.footer-social {
  margin-top: 45px;
}

/* footer */

.footer-single {
  margin-bottom: 30px;
}

}


/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {
.navbar-header a{

}
.navbar-brand{

}


#logo img{
  opacity: 1;
  margin: 0;
  padding: 0;
  margin: 5px;
  margin-left: 20px;
  border: 0;
width:70px;
  clip-path:none;
}

/* SLIDER HEIGHT */
#slider {
    height: 600px;
    /* margin-bottom: 2px; */
}

.carousel.slide{
height: 500px;

}
#slider .carousel-inner .item {
  height: 500px;
}
.carousel-indicators {
  top: 44%;

}

.carousel-caption {
    /* background-color: black; */
      height: 300px;
  top: 30%;


}

.carousel-caption .carousel-box1{
padding-left:0;
  /* background-color: black; */
}
.carousel-caption .carousel-box2{
  padding-right: 0;
}

.sec-sub-title p {
  font-size: 14px;
}

/* slider */
.carousel-caption h2 {
      /* background-color: black; */
  font-size: 45px;
  /* font-size: 35px; */
}
.carousel-caption h2 span {
  font-size: 45px;
  /* font-size: 35px; */
}

.carousel-caption h3 {
  font-size: 32px;
  /* font-size: 22px; */
}
.carousel-caption h3 span {
  font-size: 32px;
  /* font-size: 22px; */
}

.carousel-caption p {
  /* font-size: 14px; */
  font-size: 20px;
}

.social-links {
  margin-top: 10%;
}

/* services */

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 280px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

/* works */
.works{
        /* height: 1600px; */
        background-position: left;

}
.work-item {
  /* left: 3% !important; */
  margin-top: 10px;
  width: 100%;
}

.work-item .overlay h2 {
  font-size: 18px;
}

.work-item .overlay p {
  font-size: 14px;
}
.diseñoweb{
    height: auto;
}

.features {
  height: auto;
}
/* .quiensoy{
  width:48%;
height:240px;
  float: left;

}
.quiensoy h4{
  font-size: 12px;
} */
.quiensoy{

height:auto;


}

/* team */

.team-member {
  margin-bottom: 30px;
}

.team-member:last-child {
  margin-bottom: 0;
}

.member-thumb {
  margin: 0 auto;
}

/* facts */

#facts {
background-position: center top !important;
}

.counters-item {
  margin-bottom: 30px;
}

/* contact */
.contact-address {
  /* margin-bottom: 30px; */
    text-align: center;
}
/* .diseñoweb{
  background-size: cover;
} */

.cuadroflotante{
  margin: auto;
  padding: 8px;
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%); */
  /* clip-path: inset(0 round 30px 0 30px 0); */
  /* box-shadow: 1px 10px 50px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.cuadroflotante h2,span{
  /* margin: 10px; */
  font-size: 30px;
  /* margin-left: 0; */
}
.cuadroflotante h3{
  font-size: 38px;
}
.cuadroflotante h3 span{
  font-size: 38px;
}

.cuadroflotante h4{
  margin: 5px;
  font-size: 20px;
  /* margin-left: 0; */
}


.diseñoweb2{
    /* height: 400px; */
}
.cuadroflotante2{
  /* margin: 8px; */
  text-align: left;
  /* background-color: black; */
  margin-right: 100px;
}
.cuadroflotante2 h3{
  font-size: 28px;
  text-align: left;
}
.cuadroflotante2 h3 span{
  font-size: 28px;
}
.cuadroflotante2 h4{
  text-align: left;
}



.footer-social {
  margin-top: 20px;
  text-align: center;
}

.footer-social li {
  display: inline-block;
}

.footer-social li a {
  margin: 0 10px;
}

/* footer */

.footer-single {
  margin-bottom: 30px;
}

}


/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {



/* services */

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 325px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

/* works */

.work-item {
  left: inherit !important;

  /* width: 45%; */
   width: 50%;
  /* margin-left: 10px;
  margin-right: 10px; */
  /* float: left; */
}


}
