/*============================================================
	For Small Desktop
==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {

.diseñoweb{
    background-size: cover;
}
  .cuadroflotante{
    /* margin-left: 470px;
    margin-right: 10px; */
  /* background-color: black; */
  /* revisar */
  }
  .works{
          height: 1200px;
            /* margin-bottom: 20px; */
  }

/* slider */
.carousel-caption h3 {
  font-size: 45px;
}
.features {
  height: auto;
}

.diseñoweb{
    height: auto;
}
/* works */

/* .quiensoy{
  width:50%;
  float: left;
} */
/* team */

.member-thumb {
  width: auto;
}

}


/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {

  .carousel-caption .carousel-box1{
  padding-left:0;
    /* background-color: black; */
  }
  .carousel-caption .carousel-box2{
    padding-right: 0;
  }
  .cuadroflotante{
    margin-left: 0;
    margin-right: 0;
  }

/* slider */
#slide1 {
  background-image: url(../img/slider/banner-inicio1-768.jpg);
    background-position: top;
}
/* .carousel.slide{
height: 500px;

} */
#slider .carousel-inner .item {
    background-size: auto;
    background-position: 50% 50%;
}

.carousel-indicators {
  top: 24%;

}

.carousel-caption {
  height: 300px;
  top: 14%;
}

.carousel-caption h2 {
  font-size: 55px;
}

.carousel-caption h3 {
  font-size: 36px;
}

/* services */

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 325px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

/* works */
.works{
        height: 1600px;
          /* margin-bottom: 20px; */
}
.works.container{
  height:auto;
          /* padding-bottom: 20px; */
}

.work-item {
  width: 50%;
}
.quiensoy{
float:none;
margin:auto;
margin-top: 10px;
text-align: center;
/* margin-left: 15%; */
}
.quiensoy img{
}

.features .container{

/* background-color: blue; */
}
.features {
background-image: none;
  /* background-color: black; */
  height: auto;
}

.diseñoweb{
  background-image: url(../img/fondos/seccion-diseñoweb-movil.jpg);
  height: 900px;
  background-size: auto;
background-position: 50% 80%;
  /* padding-top: 100px; */
}
.diseñoweb2{
  background-image: url(../img/fondos/diseñoweb2-movil.jpg);
  height: 800px;
  background-size: auto;
  background-position: 50% 80%;
}
.cuadroflotante{

}

.cuadroflotante .recuadroblanco{
  padding: 20px;
}

.cuadroflotante .sec-sub-title img{

  /* width: 30%; */
  opacity: 0;
}

/* team */
.contact-address {
  /* margin-bottom: 30px; */
    text-align: center;
}
.member-thumb .overlay h5 {
  margin: 25px 0;
}

.member-thumb {
  margin: 0 auto;
}

/* fatcs */

#facts {
background-position: center top !important;
}
.counters-item {
  margin-bottom: 30px;
}

.counters-item i {
  margin: 0 0 15px;
}

.counters-item strong {
  font-size: 45px;
}

/* contact */

.contact-form .name-email input {
  margin-right: 0;
  width: 100%;
}

.footer-social {
  margin-top: 45px;
}

/* footer */

.footer-single {
  margin-bottom: 30px;
}

}


/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {
.navbar-header a{

}
.navbar-brand{

}


#logo img{
  opacity: 1;
  margin: 0;
  padding: 0;
  margin: 5px;
  margin-left: 20px;
  border: 0;
width:70px;
  clip-path:none;
}

/* SLIDER HEIGHT */
#slider {
    /* height: 900px; */
    /* margin-bottom: 2px; */
}

#slide1 {
  background-image: url(../img/slider/banner-inicio1-768.jpg);
    background-position: top;
    /* background-color: black; */

}

.carousel.slide{
height: 500px;

}
#slider .carousel-inner .item {
      /* background-size: auto 100%;
      background-position: center; */
      background-size: auto;
    background-position: 50% 50%;
      /* height: 100%; */

}
.carousel-indicators {
  top: 44%;

}

.carousel-caption {
    /* background-color: black; */
      height: 300px;
  top: 14%;


}

.carousel-caption .carousel-box1{
padding-left:0;
  /* background-color: black; */
}
.carousel-caption .carousel-box2{
  padding-right: 0;
}

.sec-sub-title p {
  font-size: 14px;
}

/* slider */
.carousel-caption h2 {
      /* background-color: black; */
  font-size: 45px;
  /* font-size: 35px; */
}
.carousel-caption h2 span {
  font-size: 45px;
  /* font-size: 35px; */
}

.carousel-caption h3 {
  font-size: 32px;
  /* font-size: 22px; */
}
.carousel-caption h3 span {
  font-size: 32px;
  /* font-size: 22px; */
}

.carousel-caption p {
  /* font-size: 14px; */
  font-size: 20px;
}

.social-links {
  margin-top: 5%;
}

/* services */

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 280px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

/* works */
.works{
        height: auto;
        /* background-position: left; */
        /* background-size:auto ; */
      /* background-position: 50% 100%; */
        background-image: none;

}
.work-item {
  /* left: 3% !important; */
  margin-top: 10px;
  width: 50%;
}
.work-item .overlay {

}

.work-item .overlay h2 {
  margin-top: 6px;
  font-size: 12px;
}

.work-item .overlay p {
  font-size: 10px;
}
/* .diseñoweb{
    height: auto;
} */

.features {
  height: auto;
  /* background-image: none; */
  /* background-color: black; */
}

.quiensoy{
  width: 100%;
  height: auto;
float:none;
margin:auto;
margin-top: 10px;
}

.quiensoy .sec-sub-title h4 {
  font-size: 15px;
}

/* team */

.team-member {
  margin-bottom: 30px;
}

.team-member:last-child {
  margin-bottom: 0;
}

.member-thumb {
  margin: 0 auto;
}

/* facts */

#facts {
background-position: center top !important;
}

.counters-item {
  margin-bottom: 30px;
}

/* contact */
.contact-address {
  /* margin-bottom: 30px; */
    text-align: center;
}
.diseñoweb{
  background-image: url(../img/fondos/seccion-diseñoweb-movil.jpg);
  height: 900px;
  background-size:auto ;
background-position: 50% 100%;
  /* padding-top: 100px; */
}

.diseñoweb img{
opacity: 0;
}

.cuadroflotante{
  margin: auto;
  padding: 8px;
  /* background-color: black; */
  /* clip-path: inset(0 round 30px 0 30px 0); */
}

.cuadroflotante h2,span{
  /* margin: 10px; */
  font-size: 30px;
  /* margin-left: 0; */
}
.cuadroflotante h3{
  font-size: 38px;
}
.cuadroflotante h3 span{
  font-size: 38px;
}

.cuadroflotante h4{
  margin: 5px;
  font-size: 20px;
  /* margin-left: 0; */
}

.diseñoweb2{
  background-image: url(../img/fondos/diseñoweb2-movil.jpg);
    height: 800px;
    /* background-size: contain; */
    /* width: 100% auto; */
      background-size: auto;
    background-position: 50% 80%;
}
.cuadroflotante2{

  margin-top: -40px;
    margin-left: 0;
  text-align: center;
  /* background-color: black; */
  background-position: bottom;
}
.cuadroflotante2 h3{
  font-size: 28px;
  text-align: center;
}
.cuadroflotante2 h3 span{
  font-size: 28px;
}
.cuadroflotante2 h4{
  text-align: center;
}



.footer-social {
  margin-top: 20px;
  text-align: center;
}

.footer-social li {
  display: inline-block;
}

.footer-social li a {
  margin: 0 10px;
}

/* footer */

.footer-single {
  margin-bottom: 30px;
}

}


/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {



/* services */

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 325px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

/* works */

.work-item {
  left: inherit !important;

  /* width: 45%; */
   width: 50%;
  /* margin-left: 10px;
  margin-right: 10px; */
  /* float: left; */
}


}
